# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.suo
*.tmp
*.userprefs

# Unity crash reports
sysinfo.txt
*.stackdump

# OS
.DS_Store
Thumbs.db
